@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@600&display=swap');
@import"./global.css";
/* 전체영역에서 여백을 없애줌 */
header{
    /* background-color: rgba(51, 51, 51, .8); */
    padding: 20px 0;
    color: white; /* 글자 컬러 화이트*/
    text-align: center; /* 글자 가운데 정렬*/
}
nav{
    position: fixed; /* 해당 요소 페이지 상단에 고정 */
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    display: flex; /* 로고 왼쪽 위 고정*/
    background-color: rgba(51, 51, 51, .8);
    padding: 0 5%;
    height: 76px;
    margin-bottom: 100px;
    /* justify-content: center; 글자 가운데 정렬 
    align-items: center;  */
    /*margin: 0 auto; links에 들어가야함*/
    /* max-width: 1200px; */
}
.logo{
    float: left;
    /* width: 40px;
    height:100px ; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* font-size: 1.5em; */
    /* background-color: rgba(51, 51, 51, .8); */
}
.logo img{ /*로고 이미지 조정*/
    width: 200px;
    height: 65px;
}
/* ul li태그에 리스트 스타일을 없앰 */
ul li{
	list-style: none;
    /* margin-right: 40px; */
    text-align: center;
    /* padding: 8px; */
}
/* a태그에 텍스트 밑줄을 없애고 색상을 흰색 */
a {
	text-decoration: none;
	color:white;
    white-space: nowrap;
    /* background-color:rgba(51, 51, 51, .8) ; */
    text-align: center;
    /* top: 35px; */
}
/* 배경색은 #333, 글자색은 검정, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
	font-family:"Black Han Sans",'Sans-serif';
	/* background-color: rgba(51, 51, 51, .8); */
	color:black;
	line-height: 76px; 
	margin:0 auto;
    /* top: 100px; */
	text-align: center;
    float: right;
    /* padding: 0; */
    display: flex; /* 메뉴 항목 일렬*/
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
    /* position: relative;*/
} 
.links a{
    display: block;
    /* padding: 8px; */
    /* margin-top: 34px; */
    text-decoration: none;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-weight:lighter;
    font-size: 1.2em;
    transition: color 0.3s ease;
    /* background-color: rgba(51, 51, 51, .8); */
}
.links.main{
    flex-direction: row;
}
/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li { /*links*/
	float:left;
    margin: 0;
    text-align: center;
    display: block;
    color: white;
    font-family: 'Black Han Sans','sans-serif';
    font-weight: lighter;
    transition: color 0.3s ease;
	width:140px;
	position:relative;
    /* margin-right: 40px; */
}
#menu > ul > li > ul { /*main*/
    float: left;
	width:140px;
	display:none;
	position: absolute;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}
/*드롭다운메뉴바*/
#menu > ul > li:hover > ul {
	display:block;
    text-align: center;
    background-color: rgba(51, 51, 51, .8);
    margin-top:-0.2px ;
}

#menu > ul > li > ul > li:hover {
	transition: ease 1s;
}

#menu > ul >li > ul > li:hover > a{
    text-align: center;
    align-items: center;
}

.links a:hover{
    color: #FFD700;
}

.main{ /*넷플릭스, 티빙, 웨이브, 디플, 더보기*/
    display: block;
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
    font-weight:lighter;
    font-size: 1.2em;
    transition: color 0.3s ease;
    cursor: pointer;
}
.icon-burger{
    display: none;
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.line{
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 5px 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
#menubar{
    /* display: none; */
    position: absolute;
    top: -100px;
}
/* #menubar + .icon-burger{
    display: flex;
    position: relative;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);                
} */
/* .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
} */
/* .find-search-bar-form {
    padding: 0 20px;
} */

.Search{
    text-align: right;
    float: right;
    width: 20%;
    text-align: center;
    /* background-color: rgba(51, 51, 51, .8); */
}

.search_bar {
    width: 100%;
    display: block;
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.search_bar:focus {
    background-color: rgb(255, 255, 255);
}

i {
    position: absolute;
} 
.fa-magnifying-glass{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 20px -30px;
    padding: 10px 1px;
    font-family: fontAwesome;
    justify-content: center;
    right: 5px;
    top: 3px;
    /* color: #333; */
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 767px){
    .image{
        width: 100%;
        height: 200px;
    }
    #menu > ul >li{
        float:none;
    }
    /* 로고를 화면 상단 가운데로 이동 */

    .logo {
        text-align: center;
        margin-top: 20px; /* 상단 여백 조정 */
    }
      
    .logo img {
        /* text-align: center; */
        display: block;
        margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    }
    .main{
        display: block;
    }  
    /* 아이콘 버거를 클릭할 때 메뉴 블럭 형태로 세로 배치 */
    #menu {
      display: none; /* 기본적으로 메뉴 숨기기 */
      text-align: center;
      background-color: rgba(51, 51, 51, .8); /* 메뉴 배경색 */
      position: absolute;
      top: 36px; /* 로고 아래에 나타나도록 조정 */
      width: 100%;
      height: 900px ;
      /* justify-content: space-evenly;
      box-sizing: border-box;
      transition: all .5s ease-in-out; */
    }

    #menu.active {
      display: block; /* 아이콘 버거 클릭 시 메뉴 보이기 */
      text-align: center;
      margin-left: -20px;
      margin-top: 40px;
    }
  
    /* 각 메뉴 항목을 블럭 형태로 배치 */
    .main a, .sub a {
      display: inline-block; /* inline-block으로 수정 */
      /* margin-bottom: 5px; 각 메뉴 항목 사이의 간격 조정 */
      white-space: nowrap; /* 줄 바꿈 방지 */
    }
  
    /* 아이콘 버거 스타일링 */
    .icon-burger {
      display: block;
      cursor: pointer;
      margin-top: 10px; /* 상단 여백 조정 */
    }
    /* .icon-burger:focus +.links, .links:focus-within{
        display: flex;
    } */
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(8.5px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-8.5px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    .line {
      background-color: #fff;
      height: 3px;
      margin: 5px 0;
      width: 30px;
    }
    .search_bar{
        /* display: hidden; */
        visibility: hidden;
        /* display: none; */
    }

    .sub {
        display: none;
        position: absolute;
        top: 0;
        left: 100%; /* 기본적으로 오른쪽에 숨겨둠 */
        background-color: rgba(51, 51, 51, .8);
        width: 100%;
    }
      
    .sub.active {
        display: block; /* 메뉴 항목 클릭 시 세부 메뉴 보이기 */
    }

    .fa-magnifying-glass{
        /* visibility: visible;
        overflow: visible;
        position: relative;
        display: block;
        color: white; */
        top: 100% auto;
        /* top: auto; */
        left: 220% auto;
    }
}